//Variables para less

//archivo menu.less
@menu-fondo: #eee;  //fondo de la barra de navegación
@menu-hover: #ccc;  //opción sobre la que tenemos el cursor
//@alineacion: flex-start;  //opciones alineadas a la izquierda
@alineacion: flex-end;  //opciones alineadas a la derecha
@altura-barra: '';   //altura de la barra de navegación
@fuente-tamano: 12px;   //tamaño base de las fuentes en pixeles
@fuente-familia: sans-serif;    //familia de fuente
